<div class="header">All Trips by {{user.name}}</div>

<div class="text-center">
    <a href="/trip/newTrip/user/{{user._id}}">
        <button class="btn btn-info">
            Create a New Trip
        </button>
    </a>
</div>

<div class="user-cards">
    {{#each allTrips}}
    <div class="card bg-light mb-3" style="width: 18rem;">

        <p class="card-header">{{name}}</p>

        <div class="card-body">
            <p class="card-text">{{city}}, {{state}}, {{country}}</p>

            <p class="card-text">Airport: {{airport}}</p>

            <p class="card-text">Dates: {{startDate}} - {{endDate}}</p>

            <p class="card-text">Days Skiing: {{daysSkiing}}</p>

            <p class="card-text">Notes: {{notes}}</p>
            <a class="btn btn-outline-info" href="/trip/{{_id}}">View this Trip</a>
        </div>

    </div>
    {{/each}}
</div>