<div class="header">Trips Created by Our Users</div>

<div class="user-cards">
    {{#each allTrips}}
    <div class="card bg-light mb-3" style="width: 22rem;">

        <p class="card-header">{{name}}</p>

        <div class="card-body">

            <p class="card-text">{{city}}, {{state}}, {{country}}</p>

            <p class="card-text">Airport: {{airport}}</p>

            <p class="card-text">Dates: {{startDate}} to {{endDate}}</p>

            <p class="card-text">Days Skiing: {{daysSkiing}}</p>

            <p class="card-text">Notes: {{notes}}</p>
            <a class="btn btn-outline-info" href="/trip/{{_id}}">View this Trip</a>
        </div>

    </div>
    {{/each}}
</div>