<div class="header">Edit Trip</div>

<form action="/trip/{{singleTrip._id}}?_method=PUT" method="POST">


    <label>Name</label>
    <input type="text" name="name" value="{{singleTrip.name}}" />

    <label>Country</label>
    <select name="country" value="{{singleTrip.country}}">
        <option value="Canada">Canada</option>
        <option value="United States of America">United States of America</option>
    </select>

    <label>State</label>
    <input type="text" name="state" value="{{singleTrip.state}}" />

    <label>City</label>
    <input type="text" name="city" value="{{singleTrip.city}}" />

    <label>Airport</label>
    <input type="text" name="airport" value="{{singleTrip.airport}}" />

    <label>Start Date</label>
    <input type="date" name="startDate" value="{{singleTrip.startDate}}" />

    <label>End Date</label>
    <input type="date" name="endDate" value="{{singleTrip.endDate}}" />

    <label>Days Skiing</label>
    <input type="number" name="daysSkiing" value="{{singleTrip.daysSkiing}}" />

    <label>Passport Required?</label>
    <select name="passportRequired" value="{{singleTrip.passportRequired}}">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>


    <label>Notes</label>
    <input type="text" name="notes" value="{{singleTrip.notes}}">

    <input type="submit" value="Save" />
</form>