<div class="header">Current Trip</div>


<div class="user-jumbotron">
    <div class="jumbotron">
        <div class="card-body">
            <h5 class="display-4">{{singleTrip.name}}</h5>
            <p><span class="created-by">Created by <a href="/user/{{user._id}}">{{user.name}}</a></span> </p>
            <p class="lead">{{singleTrip.city}}, {{singleTrip.state}}, {{singleTrip.country}}</p>
            <p>Airport: {{singleTrip.airport}}</p>
            <p>Dates: {{singleTrip.startDate}} - {{singleTrip.endDate}}</p>
            <p>Days Skiing: {{singleTrip.daysSkiing}}</p>
            <p>{{singleTrip.notes}}</p>
        </div>
        <div class="card-body">
            <a href="/resort/trip/{{singleTrip._id}}" class="card-link">Ski Resort(s)</a>
        </div>
        <ul class="list-group list-group-flush">
            {{#each resort}}
            <li class="list-group-item">
                <a href="/resort/{{_id}}">
                    <div class="user-data">{{name}}</div>
                </a>
            </li>
            {{/each}}
        </ul>

        <div class="trip-link">
            <a href="/resort/newResort/trip/{{singleTrip._id}}">
                <button class="btn btn-info">Add a Ski Resort</button>
            </a>
            <a href="/trip/{{singleTrip._id}}/edit">
                <button class="btn btn-info">Edit Trip</button>
            </a>
        </div>


        <form action="/trip/{{singleTrip._id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>

        <a class="back-btn" href="/trip/user/{{user._id}}"> &#60;&#60; Go Back to All Trips by {{user.name}}</a>
    </div>
</div>