<div class="header">Current Trip</div>

<a href="/trip/{{singleTrip._id}}/edit">
    <button>
        Edit
    </button>
</a>

<div class="trip-item">
    <div class="title">Name</div>
    <div class="trip-data">{{singleTrip.name}}</div>

    <div class="title">Country</div>
    <div class="trip-data">{{singleTrip.country}}</div>

    <div class="title">State</div>
    <div class="trip-data">{{singleTrip.state}}</div>

    <div class="title">City</div>
    <div class="trip-data">{{singleTrip.city}}</div>

    <div class="title">Airport</div>
    <div class="trip-data">{{singleTrip.airport}}</div>

    <div class="title">Dates</div>
    <div class="trip-data">{{singleTrip.startDate}} - {{singleTrip.endDate}}</div>

    <div class="title">Days Skiing</div>
    <div class="trip-data">{{singleTrip.daysSkiing}}</div>

    <div class="title">Passport Required</div>
    <div class="trip-data">{{singleTrip.passportRequired}}</div>

    <div class="title">Notes</div>
    <div class="trip-data">{{singleTrip.notes}}</div>

    <a href="/resort/trip/{{singleTrip._id}}" class="trip-data">
        <div class="title">Ski Resort(s)
        </div>
    </a>
    {{#each resort}}
    <a href="/resort/{{_id}}">
        <div class="trip-data">{{name}}</div>
    </a>
    {{/each}}

    <a href="/resort/newResort/trip/{{singleTrip._id}}">
        <button>Add a Ski Resort</button>
    </a>


</div>

<form action="/trip/{{singleTrip._id}}?_method=DELETE" method="POST">
    <button>Delete</button>
</form>