<div class="header">All Resorts from {{trip.name}}</div>


<div class="text-center">
    <a href="/resort/newResort/trip/{{trip._id}}">
        <button class="btn btn-info">
            Add a New Resort
        </button>
    </a>
</div>


<div class="user-cards">
    {{#each allResorts}}
    <div class="card bg-light mb-3" style="width: 18rem;">

        <p class="card-header">{{name}}</p>

        <div class="card-body">
            <p class="card-text">Average Annual Snowfall (in.): {{averageAnnualSnowfall}}</p>

            <p class="card-text">YTD Snowfall (in.): {{yearToDateSnowfall}}</p>

            <p class="card-text">Current Base (in.): {{currentBase}}</p>

            <p class="card-text">Vertical Feet (ft.): {{verticalFeet}}</p>

            <p class="card-text">Number of Trails: {{amountOfTrails}}</p>

            <p class="card-text">Number of Lifts: {{amountofLifts}}</p>

            <p class="card-text">Is this resort on the Ikon Pass? {{onIkonPass}}</p>

            <p class="card-text">Is this resort on the Epic Pass? {{onEpicPass}}</p>

            <p class="card-text">Notes: {{notes}}</p>
            <a class="btn btn-outline-info" href="/resort/{{_id}}">View this Resort</a>
        </div>

    </div>
    {{/each}}
</div>