<div class="header">Edit Resort</div>

<form action="/resort/{{singleResort._id}}?_method=PUT" method="POST">


    <label>Name</label>
    <input type="text" name="name" value="{{singleResort.name}}" />

    <label>Average Annual Snowfall (in.)</label>
    <input type="number" name="averageAnnualSnowfall" value="{{singleResort.averageAnnualSnowfall}}" />

    <label>YTD Snowfall (in.)</label>
    <input type="number" name="yearToDateSnowfall" value="{{singleResort.yearToDateSnowfall}}" />

    <label>Current Base (in.)</label>
    <input type="number" name="currentBase" value="{{singleResort.currentBase}}" />

    <label>Vertical Feet (ft.)</label>
    <input type="number" name="verticalFeet" value="{{singleResort.verticalFeet}}" />

    <label>Number of Trails</label>
    <input type="number" name="amountOfTrails" value="{{singleResort.amountOfTrails}}" />

    <label>Number of Lifts</label>
    <input type="number" name="amountofLifts" value="{{singleResort.amountofLifts}}" />

    <label>Is this resort on the Ikon Pass?</label>
    <select name="onIkonPass" value="{{singleResort.onIkonPass}}">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <label>Is this resort on the Epic Pass?</label>
    <select name="onEpicPass" value="{{singleResort.onEpicPass}}">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>


    <label>Notes</label>
    <input type="textarea" name="notes" value="{{singleResort.notes}}">

    <input type="submit" value="Save" />
</form>