<div class="header">Current Resort</div>

<div class="user-jumbotron">
    <div class="jumbotron">
        <div class="card-body">
            <h5 class="display-4">{{singleResort.name}}</h5>

            <p class="lead">Notes lorem ipsum {{singleResort.notes}}</p>

        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="user-data">Average Annual Snowfall (in.): {{singleResort.averageAnnualSnowfall}}</div>
            </li>
            <li class="list-group-item">
                <div class="user-data">YTD Snowfall (in.): {{singleResort.yearToDateSnowfall}}</div>
            </li>
            <li class="list-group-item">
                <div class="user-data">Current Base (in.): {{singleResort.currentBase}}</div>
            </li>
            <li class="list-group-item">
                <div class="user-data">Vertical Feet (ft.): {{singleResort.verticalFeet}}</div>
            </li>
            <li class="list-group-item">
                <div class="user-data">Number of Trails: {{singleResort.amountOfTrails}}</div>
            </li>
            <li class="list-group-item">
                <div class="user-data">Number of Lifts: {{singleResort.amountofLifts}}</div>
            </li>
            <li class="list-group-item">
                <div class="user-data">Is this resort on the Ikon Pass? {{singleResort.onIkonPass}}</div>
            </li>
            <li class="list-group-item">
                <div class="user-data">Is this resort on the Epic Pass? {{singleResort.onEpicPass}}</div>
            </li>

        </ul>

        <div class="trip-link">
            <a href="/resort/{{singleResort._id}}/edit">
                <button class="btn btn-info">Edit</button>
            </a>
        </div>


        <form action="/resort/{{singleResort._id}}?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>