<div class="header">Current User</div>

<a href="/user/{{singleUser._id}}/edit">
    <button>
        Edit
    </button>
</a>

<div class="user-item">
    <div class="title">Name</div>
    <div class="user-data">{{singleUser.name}}</div>

    <div class="title">Skill Level</div>
    <div class="user-data">{{singleUser.skillLevel}}</div>

    <div class="title">Sport</div>
    <div class="user-data">{{singleUser.skiOrSnowboard}}</div>

    <a href="/trip/user/{{singleUser._id}}" class="user-data">
        <div class="title">Ski Trips</div>
    </a>
    {{#each trip}}
    {{!-- not showing trip name  --}}
    <a href="/trip/{{trip._id}}" class="user-data">
        {{trip.name}}
    </a>
    {{/each}}

    <a href="/trip/new/user/{{singleUser._id}}">
        <button>Create a New Trip</button>
    </a>

</div>

<form action="/user/{{singleUser._id}}?_method=DELETE" method="POST">
    <button>Delete</button>
</form>